<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/main.css">
<div class="container-flex">
    <div style="text-align: center;">
        Welcome to <span class="home-link"><%= blog_title %></span> written by <span class="home-link"><%= author_name %></span>
    </div>
    <div class="container-home-body">
        <a style="margin: auto;" href="/authors">
            Authors home page
        </a>
        <div class="vl"></div>
        <a style="margin: auto;" href="/readers">
            Readers home page
        </a>
    </div>
</div>