<%- include('../components/header'); %>
<a href="/authors">
    <button class="btn btn-light publish">Back</button>
</a>
<h1>Author Setting</h1>
<form action="/authors/setting" method="post">
    <label class="form-label">Blog title</label>
    <input value="<%= author.blog_title %>" type="text" name="blog_title" class="form-control" required>
    <label class="form-label">Author name</label>
    <input value="<%= author.author_name %>" type="text" name="author_name" class="form-control" required>
    <button type="submit" class="btn btn-success publish">Save</button>
    <a href="/authors/setting">
        <button type="button" class="btn btn-warning publish">Reset</button>
    </a>
</form>
<%- include('../components/footer'); %>